* {
	color: #000 !important;
	background: #fff !important;
	border: none !important;
	position: static !important;
}

body {
	background: #fff;
	color: #000;
	font-family: serif;
	font-size: 12pt;
	margin:0.5cm;
	padding: 0;
}
